/* start main container styles */
#shell960 {
	width: 100%;
	font-family: Raleway;
    font-size:1.1em;
	background-color: #fff;
	line-height:1.5em;
	color: #1a1a1a;
}
/* end main container styles */

/* start story section div styles */

/* Comment this out if you want a single-column, centered layout
#shell960 div.right, div.left, div.full {
	width: 100%;
	max-width: 630px;
	margin: 0 auto;
	margin-bottom: 2.5em;
} 
*/

#shell960 .full {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

/* end story section div styles */

/* start typeface styles */

#shell960 h3 {	
	font-size: 36px;
	font-family: 'Bitter', serif;
	margin: .5em 0em;
}

#shell960 a {
	color: #7e7e7e;
	text-decoration: none;
	font-style: bold;
}

/* end typeface styles */

/* start paragraph styles */

#shell960 .singleColumnText {
	width: 100%;
	max-width: 630px;
	margin: 0 auto;
	padding: 1em;

}

.lead {
  font-size: 19px;
  line-height: 33px;
}
.lead.drop-cap:first-letter {
  margin: 0 12px -10px 0;
  font-size: 550%;
  line-height: 100%;
}

/* start article styles */

/* start overlay styles */

.backImage {
	opacity:0;
	position: relative;
	width: 100%;
}

.overlayText {
	background: #ffffff;
	opacity: .9;
	padding: 1em;
	position: absolute; 
	max-width: 630px;
	width: 100%;
}

#marianna {
	top: 51.8em; 
	left: 0em;
}

#spell {
	top: 171em;
	right: 0em;
}

#abused {
	top: 241em;
	left: 0em;
}

#belt {
	top: 309em;
	right: 0em;
}

#snake {
	top: 360em;
	left: 0em;
}

/* end overlay styles */


/* start caption styles */
.captionSmall {
	font-family: 'Bitter', serif;
	font-size: 12px;
	font-style:italic;
	color:#81929B;
	margin: 0 auto;
	text-align:	center; 
	line-height: 1.5;
}

/* end caption styles */

/* start full-width image styles */	
#shell960 img.width960 {	
	margin:10px 20px 10px -165px;
}

#shell960 .fullCentered {
	margin: 0 auto;
	width: 100%;
	max-width:960px;
}

#shell960 img.splitScreen {
	max-width: 300px;
	width: 100%;
}

/* end full-width image styles */	
	
/* start floating image styles */		
#shell960 .floatRight img, #shell960 .floatLeft img {
	max-width: 450px;
}

#shell960 .floatRight {
	float:right;
	clear:right;
	margin:10px -165px 10px 20px;
}

#shell960 .floatLeft {
	float:left;
	clear:left;
	margin:10px 20px 10px -165px;
}

#shell960 .arrow {
	float:left;
	clear:left;
	width: 60px;
	height: 60px;
	margin-right: 10px;
}

#shell960 .big {
	width: 110px;
	height: 110px;
	margin-top: -10px;
	margin-left: -120px;
}
/* end floating image styles */	

/* start video styles */	

#shell960 .videoWrapper {
	text-align: center;
	margin: 0 auto;
}

#shell960 iframe.videoCentered {
	display: block;
	margin: 0 auto;
}

/* end video styles */	

/* start list styles */

#shell960 ul {
	list-style: none;
}

#shell960 li {
	margin-bottom:1.2em;
}

span.highlight {
	font-weight: bold;
	font-size: 1.4em;
	color: #e12300;
}

ul#nestedList {
	list-style: square;
}
/* end list styles */

/* start table styles */
table.tableZebra {
	margin: 0;
	border-spacing: .25rem;
}

#tableZebra tr, th {
  text-align: left;
  letter-spacing: 1px;
  font-variant: small-caps;
  background: #000000;
  color: #ffffff;
  padding: 5px 7px;
}

#shell960 tr, td {
  padding: 5px 7px;
}

#shell960 tr.oddRow {
	background: #FBB829;
}

#shell960 tr.evenRow {
	background: #f7f7f7;
}

span.smallCaps {
	font-variant: small-caps;
}
/* end table styles */

@media only screen 
and (max-width: 480px) {
	
	div#shell960 {
	    font-size:1em;
		width: 98%;
	}

	#shell960 div.right, div.left, div.full, div.zebra {
		width: 100%;
		margin: .2em;
		border-bottom: none;
		padding: 10px;
	}
	
	#shell960 .zebra {
		padding: 10px;
	}
	
	#shell960 .floatRight {
		float:none;
		clear:none;
		margin: 0 auto;
	}

	#shell960 .floatLeft {
		float:none;
		clear:none;
		margin: 0 auto;
	}
	
	#shell960 .floatRight img, #shell960 .floatLeft img {
		width: 100%;
	}
	
	#shell960 div.full img, #shell960 img {
		width:100%;
		margin: 0 auto;
	}
	
	#shell960 div.full img.width960 {	
		margin:0 auto;
	}
	
	#shell960 img.splitScreen {
		max-width: 220px;
		width: 100%;
		padding-bottom: .5em;
	}

	#shell960 ul {
		margin: 0 auto;
		padding: 10px;
	}
	
	#shell960 .arrow {
		display: none;
	}

	#shell960 .big {
		display: none;
	}
}
